{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Term and Conditions - Wiraraja Resources</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <div class="bg">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo ms-5" href="#">
                    <img src="{% static 'img/Wiraraja-Resources-Logo-OK.png' %}" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item mx-2">
                            <a class="nav-link fw-bold" href="/">HOME</a>
                        </li>
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link dropdown-toggle fw-bold" href="/business" id="businessDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                BUSINESS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="businessDropdown">
                                <li><a class="dropdown-item fw-bold" href="/manufacturing">MANUFACTURING</a></li>
                                <li><a class="dropdown-item fw-bold" href="/mining">MINING</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link dropdown-toggle fw-bold" href="/company" id="companyDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                COMPANY
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="companyDropdown">
                                <li><a class="dropdown-item fw-bold" href="/aboutus">ABOUT US</a></li>
                                <li><a class="dropdown-item fw-bold" href="/news">NEWS</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link dropdown-toggle fw-bold" href="/career" id="careerDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                CAREER
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="careerDropdown">
                                <li><a class="dropdown-item fw-bold" href="/apply">APPLY JOBS</a></li>
                                <li><a class="dropdown-item fw-bold" href="/why">WHY WIRARAJA</a></li>
                            </ul>
                        </li>
                    </ul>
                    <li class="nav-item list-unstyled">
                        <a class="contact-btn btn fw-bold" href="/contact">Contact</a>
                    </li>
                </div>
            </div>
        </nav>
        <!-- end nav -->

        <!-- hero -->
        <section class="cs-margin">
            <div class=" container">
                <div class="text-center mt-5">
                    <h1 class="fw-bold custom-heading">Term and Conditions</h1>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <a href="/" class="btn btn-explore fw-bold fs-6">Back to Home</a>
                </div>
                <div class="container mt-5"></div>
            </div>
        </section>
    </div>
    <!-- end hero -->

    <div style="background-color: #1a1a1a;">
        <div class="container pt-5 pb-3" style="width: 80%">
            <p class="text-white">I. INTRODUCTION
                <br>
                1. Welcome to Wiraraja Indonesia website (the “Site”). Please read the following Terms and Conditions
                carefully before using this Site so that you are aware of your legal rights and obligations with respect
                to Wiraraja Indonesia Private Limited and its affiliates and subsidiaries (individually and
                collectively, “Wiraraja”, “we”, “us” or “our”).
                <br>
                2. The “Services” we provide or make available include (a) the Site, (b) any applicable services
                provided on the Site and (c) any applicable information, linked pages, features, data, text, images,
                photographs, graphics, music, sounds, video, messages, tags, content, programming, software, application
                services (including without limitation any mobile application services) or other materials made
                available through the Site or its related services (“Content”). Any new features added to or augmenting
                the Services are also subject to these Terms and Conditions.
                <br>
                3. By accessing and/or visiting the Site, you signify your irrevocable acceptance of these Terms and
                Conditions. If you do not agree to these terms, please do not visit or access the Site.
                <br>
                4. Wiraraja Indonesia has the right to revise these Terms and Conditions at any time without providing
                notice to you. Your continued use and/or access of the Services or this Site, shall be deemed
                irrevocable acceptance of those revisions.
                <br>
                5. Wiraraja Indonesia reserves the right to change, modify, suspend or discontinue any portion of this
                Site or the Services at any time. Wiraraja Indonesia may release certain Services or their features in a
                beta version, which may not work correctly or in the same way the final version may work, and we shall
                not be held liable in such instances. Wiraraja Indonesia may also impose limits on certain features or
                restrict your access to parts of, or the entire, Site or Services in its sole discretion and without
                notice or liability.
                <br>
                6. Wiraraja Indonesia reserves the right to refuse to provide you access to the Site or Services for any
                reason.
                <br>
                II. PRIVACY
                <br>
                1. Your privacy is very important to us at Wiraraja Indonesia. To better protect your rights we have
                provided the Wiraraja Indonesia Privacy Policy to explain our privacy practices in detail. Please review
                the Privacy Policy to understand how Wiraraja Indonesia collects and uses the information associated
                with your access to the Site and/or your use of the Services. By using the Services, accessing the Site
                or agreeing to these Terms and Conditions, you consent to Wiraraja’s collection, use, disclosure and/or
                processing of your Content and personal data as described in the Privacy Policy.
                <br>
                III. LIMITED LICENSE
                <br>
                1. Wiraraja Indonesia grants you a non-exclusive, non-transferable, limited right and license to access
                and use the Services and/or Site subject to the terms and conditions of these Terms and Conditions for
                personal use only. This license does not allow you to make any commercial use or any derivative use of
                the Site and/or Services (including without limitation any of its individual elements or Content).
                <br>
                2. All proprietary Content, trademarks, service marks, brand names, logos and other intellectual
                property displayed in the Site are the property of Wiraraja Indonesia and where applicable, third party
                proprietors identified in the Site. No right or licence is granted directly or indirectly to any party
                accessing the Site to use or reproduce any such proprietary Content, trademarks, service marks, brand
                names, logos and other intellectual property, and no party accessing the Site shall claim any right,
                title or interest therein. By using or accessing the Services you agree to comply with the copyright,
                trademark, service mark, and all other applicable laws that protect the Services, the Site and its
                Content. You agree not to copy, distribute, republish, transmit, publicly display, publicly perform,
                modify, adapt, rent, sell, or create derivative works of any portion of the Services, the Site or its
                Content. You also may not, without our prior written consent, mirror or frame any part or whole of the
                contents of this Site on any other server or as part of any other website. In addition, you agree that
                you will not use any robot, spider or any other automatic device or manual process to monitor or copy
                our Content, without our prior written consent (such consent is deemed given for standard search engine
                technology employed by Internet search websites to direct Internet users to this website).
                <br>
                IV. SECURITY
                <br>
                1. Wiraraja Indonesia has not reviewed, and assumes no responsibility for any third party content,
                functionality, security, services, privacy policies, or other practices of those products, websites or
                services. The Terms and Conditions for such products, websites or services, including their respective
                privacy policies, if different from these Terms and Conditions and/or our Privacy Policy, may also apply
                to your use of those products, websites or services.
                <br>
                2. You agree that Wiraraja Indonesia may for any reason, in its sole discretion and without notice or
                liability to you or any third party, immediately terminate your access to the Site and grounds for such
                termination may include, but are not limited to: (a) violation of the letter or spirit of these Terms
                and Conditions, (b) fraudulent, harassing, defamatory, threatening or abusive behaviour or (c) behaviour
                that is harmful to other users, third parties, or the business interests of Wiraraja Indonesia. Usage of
                the Site for illegal, fraudulent, harassing, defamatory, threatening or abusive purposes may be referred
                to law enforcement authorities without notice to you. If you file a claim (under any cause of action
                whatsoever) either against Wiraraja Indonesia, or which in any way involves Wiraraja Indonesia, then
                Wiraraja Indonesia may terminate your access.
                <br>
                3. You may only use the Services and/or access the Site if your applicable jurisdiction allows you to
                accept these Terms and Conditions.
                <br>
                V. DISCLAIMER
                <br>
                1. THE SITE AND SERVICES ARE PROVIDED “AS IS” AND WITHOUT ANY WARRANTIES, CLAIMS OR REPRESENTATIONS MADE
                BY WIRARAJA INDONESIA OF ANY KIND EITHER EXPRESS, IMPLIED OR STATUTORY WITH RESPECT TO THE SITE AND
                SERVICES, INCLUDING WITHOUT LIMITATION WARRANTIES OF QUALITY, PERFORMANCE, NON-INFRINGEMENT,
                MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE, NOR ARE THERE ANY WARRANTIES CREATED BY COURSE OF
                DEALING, COURSE OF PERFORMANCE OR TRADE USAGE. WITHOUT LIMITING THE FOREGOING, WIRARAJA INDONESIA DOES
                NOT WARRANT THAT THE SERVICES, THIS SITE OR THE FUNCTIONS CONTAINED THEREIN WILL BE AVAILABLE,
                ACCESSIBLE, UNINTERRUPTED, TIMELY, SECURE, ACCURATE, COMPLETE OR ERROR-FREE, THAT DEFECTS, IF ANY, WILL
                BE CORRECTED, OR THAT THIS SITE AND/OR THE SERVER THAT MAKES THE SAME AVAILABLE ARE FREE OF VIRUSES,
                CLOCKS, TIMERS, COUNTERS, WORMS, SOFTWARE LOCKS, DROP DEAD DEVICES, TROJAN-HORSES, ROUTINGS, TRAP DOORS,
                TIME BOMBS OR ANY OTHER HARMFUL CODES, INSTRUCTIONS, PROGRAMS OR COMPONENTS.
                <br>
                2. YOU ACKNOWLEDGE THAT THE ENTIRE RISK ARISING OUT OF THE USE OR PERFORMANCE OF THE SITE AND/OR THE
                SERVICES REMAINS WITH YOU TO THE MAXIMUM EXTENT PERMITTED BY LAW.
                <br>
                3. Some jurisdictions do not allow the disclaimer of implied warranties, so some or all of the foregoing
                disclaimers may not apply to you.
                <br>
                VI. EXCLUSIONS AND LIMITATION OF LIABILITY
                <br>
                1. In no event shall Wiraraja Indonesia be liable whether in contract, warranty, tort (including without
                limitation negligence (whether active, passive or imputed), product liability or strict liability or
                other theory), or other cause of action at law, in equity, by statute or otherwise, for loss of use,
                profits, revenues, goodwill or anticipated savings or for any indirect, incidental, special or
                consequential damages (including without limitation any loss of data, service interruption, computer,
                mobile phone or mobile device failure) arising out of or in connection with the use or inability to use
                this Site or the Services, including, without limitation, any damages resulting therefrom, even if
                Wiraraja Indonesia has been advised of the possibility of such damages.
                <br>
                2. Your only right with respect to any problems or dissatisfaction with the Services is to discontinue
                any use of the Services.
                <br>
                3. If, notwithstanding the previous sections, Wiraraja Indonesia is found by a court of competent
                jurisdiction to be liable (including for gross negligence), its liability to you or to any third party
                is limited to the lesser of SGD $100 (One Hundred Singapore Dollars).
                <br>
                4. Nothing in these Terms and Conditions shall limit or exclude any liability for death or personal
                injury caused by Wiraraja Indonesia negligence, for fraud or for any other liability that cannot be
                lawfully limited and/or excluded.
                <br>
                VII. LINKS TO THIRD PARTY SITES
                <br>
                1. The links provided throughout the Site, where applicable will let you leave this Site. These links
                are provided as a courtesy only, and the sites they link to are not under the control of Wiraraja
                Indonesia in any manner whatsoever and you therefore access them at your own risk. Wiraraja Indonesia is
                in no manner responsible for the contents of any such linked site or any link contained within a linked
                site, including any changes or updates to such sites. Wiraraja Indonesia is providing these links merely
                as a convenience, and the inclusion of any link does not in any way imply or express affiliation,
                endorsement or sponsorship by Wiraraja Indonesia of any linked site and/or any of its content therein.
                <br>
                VIII. TERM OF USE
                <br>
                1. You agree not to, where applicable:
                <br>
                (a)upload, post, email, transmit or otherwise make available any Content that is unlawful, harmful,
                threatening, abusive, harassing, alarming, distressing, tortuous, defamatory, vulgar, obscene, libelous,
                invasive of another’s privacy, hateful, or racially, ethnically or otherwise objectionable;
                <br>
                (b)use the Services to impersonate any person or entity, or otherwise misrepresent your affiliation with
                a person or entity;
                <br>
                (c)forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content
                transmitted through the Services;
                <br>
                (d)remove any proprietary notices from the Site;
                <br>
                (e)cause, permit or authorize the modification, creation of derivative works, or translation of the
                Services without the express permission of Wiraraja Indonesia;
                <br>
                (f)use the Services for any commercial purpose or the benefit of any third party or any manner not
                permitted by the licenses granted herein;
                <br>
                (g)use the Services for fraudulent purposes;
                <br>
                (h)attempt to decompile, reverse engineer, disassemble or hack the Services (or any portion thereof), or
                to defeat or overcome any encryption technology or security measures implemented by Wiraraja Indonesia
                with respect to the Services and/or data transmitted, processed or stored by Wiraraja Indonesia;
                <br>
                (i)harvest or collect any information about or regarding other users of the Site, including without
                limitation any personal data or information;
                <br>
                (j)upload, post, email, transmit or otherwise make available any unsolicited or unauthorised
                advertising, promotional materials, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” or any
                other unauthorised form of solicitation;
                <br>
                (k)upload, post, email, transmit or otherwise make available any material that contains software
                viruses, worms, Trojan-horses or any other computer code, routines, files or programs designed to
                directly or indirectly interfere with, manipulate, interrupt, destroy or limit the functionality or
                integrity of any computer software or hardware or data or telecommunications equipment;
                <br>
                (l)interfere with, manipulate or disrupt the Services or servers or networks connected to the Services
                or any other user’s use and enjoyment of the Services, or disobey any requirements, procedures, policies
                or regulations of networks connected to the Site;
                <br>
                (m)take any action or engage in any conduct that could directly or indirectly damage, disable,
                overburden, or impair the Services or the servers or networks connected to the Services;
                <br>
                (n)use the Services to intentionally or unintentionally violate any applicable local, state, national or
                international law, rule, code, directive, guideline, policy or regulation including without limitation
                laws and requirements (whether or not having the force of law) relating to anti-money laundering or
                counter-terrorism;
                <br>
                (o)use the Services to provide material support or resources (or to conceal or disguise the nature,
                location, source, or ownership of material support or resources) to any organization(s) designated by
                the United States government as a foreign terrorist organization pursuant to section 219 of the
                Immigration and Nationality Act; and/or
                <br>
                (p)use the Services to collect or store personal data about other users in connection with the
                prohibited conduct and activities set forth above.
                <br>
                2. You understand that all Content is the sole responsibility of the person from whom such Content
                originated. This means that you, and not Wiraraja Indonesia, are entirely responsible for all Content
                that you upload, post, email, transmit or otherwise make available through the Site. Under no
                circumstances will Wiraraja Indonesia be liable in any way for any Content, including, but not limited
                to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of
                the use of, or reliance on, where applicable, any Content posted, emailed, transmitted or otherwise made
                available on the Site.
                <br>
                3. You acknowledge, consent and agree that Wiraraja Indonesia may access, preserve and disclose your
                personal information and Content if required to do so by law or pursuant to an order of a court or by
                any governmental or regulatory authority having jurisdiction over Wiraraja Indonesia or in a good faith
                belief that such access preservation or disclosure is reasonably necessary to: (a) comply with legal
                process; (b) enforce these Terms and Conditions; (c) respond to claims that any Content violates the
                rights of third parties; or (d) protect the rights, property or personal safety of Wiraraja Indonesia,
                its users and/or the public.
                <br>
                IX. THIRD PARTY CONTRIBUTIONS TO THE SERVICES AND EXTERNAL LINKS
                <br>
                1. The Site may contain links to third party text and video feeds (and podcasts) (collectively, “third
                party feeds”), products, websites, services and offers, or links to download third party software
                applications. Additionally, third parties may make available, on their own websites, third party feeds,
                and software applications. These third party links, third party feeds, products, websites, services and
                software applications are not owned or controlled by Wiraraja Indonesia. Rather, they are operated by,
                and are the property of, the respective third parties, and may be protected by applicable copyright or
                other intellectual property laws and treaties. Wiraraja Indonesia has not reviewed, and assumes no
                responsibility for the content, functionality, security, services, privacy policies, or other practices
                of these third parties. You are encouraged to read the terms and other policies published by such third
                parties on their websites or otherwise. By accessing the Site, you agree that Wiraraja Indonesia shall
                not be liable in any manner due to your use of, or inability to use, any third-party feed, website or
                widget. You further acknowledge and agree that Wiraraja Indonesia may disable your use of, or remove,
                any third party links, third party feeds, or applications on the Site and/or Services to the extent they
                violate these Terms and Conditions.
                <br>
                X. VIOLATION OF OUR TERMS AND CONDITIONS
                <br>
                1. If you believe there are any violations of these Terms and Conditions on the Site, please contact
                ask@wiraraja.com.
                <br>
                XI. YOUR REPRESENTATIONS AND WARRANTIES
                <br>
                1. You represent and warrant that:
                <br>
                (a)you possess the legal capacity (and in the case of a minor, valid parent or legal guardian consent),
                right and ability to enter into these Terms and Conditions and to comply with its terms;
                <br>
                (b)you will use the Site and/or Services for lawful purposes only and in accordance with these Terms and
                Conditions and all applicable laws, rules, codes, directives, guidelines, policies and regulations; and
                <br>
                (c)you will only access and/or use the Site and/or Services on a computer on which such access and/or
                use is authorised by the computer’s owner.
                <br>
                XII. INDEMNITY
                <br>
                1. You agree to indemnify, defend and hold harmless Wiraraja Indonesia, and its shareholders,
                subsidiaries, affiliates, officers, agents, co-branders or other partners, and employees (collectively,
                the “Indemnified Parties”), at your expense, from and against any and all claims, actions, proceedings,
                and suits and all related liabilities, damages, settlements, penalties, fines, costs and expenses
                (including, without limitation, reasonable legal fees and other dispute resolution expenses) incurred by
                any Indemnified Party arising out of or relating to (a) the hosting, operation, management and/or
                administration of the Site and/or Services by or on behalf of Wiraraja Indonesia, (b) your violation or
                breach of any term of these Terms and Conditions or any policy or guidelines referenced herein, or (c)
                your use or misuse of the Site and/or Services, or (d) your breach of any law or the rights of a third
                party.
                <br>
                XIII. SEVERABILITY
                <br>
                1. If any provision of these Terms and Conditions shall be deemed unlawful, void, or for any reason
                unenforceable under the law of any jurisdiction, then that provision shall be deemed severable from
                these terms and conditions and shall not affect the validity and enforceability of any remaining
                provisions in such jurisdiction nor the validity and enforceability of the provision in question under
                the law of any other jurisdiction.
                <br>
                XIV. GOVERNING LAW
                <br>
                1. These Terms and Conditions shall be governed by and construed in accordance with the laws of the
                Republic of Singapore without regard to its conflict of law rules. Any dispute, controversy, claim or
                difference of any kind whatsoever shall arising out of or relating to these Terms and Conditions against
                or relating to Wiraraja Indonesia or any Indemnified Party under these Terms and Conditions shall be
                referred to and finally resolved by arbitration in Singapore in accordance with the Arbitration Rules of
                the Singapore International Arbitration Centre (“SIAC Rules”) for the time being in force, which rules
                are deemed to be incorporated by reference in this Section. There will be one (1) arbitrator and the
                language of the arbitration shall be English.
                <br>
                XV. GENERAL PROVISIONS
                <br>
                1. Wiraraja Indonesia reserves all rights not expressly granted herein.
                <br>
                2. Wiraraja Indonesia may modify these Terms and Conditions at any time by posting the revised Terms and
                Conditions on this Site. Your continued use of this Site after such changes have been posted shall
                constitute your acceptance of such revised Terms and Conditions.
                <br>
                3. You may not assign, sublicense or transfer any rights granted to you hereunder or subcontract any of
                your obligations.
                <br>
                4. Nothing in these Terms and Conditions shall constitute a partnership, joint venture or
                principal-agent relationship between you and Wiraraja Indonesia, nor does it authorise you to incur any
                costs or liabilities on Wiraraja Indonesia behalf.
                <br>
                5. The failure of Wiraraja Indonesia at any time or times to require performance of any provision hereof
                shall in no manner affect its right at a later time to enforce the same unless the same is waived in
                writing.
                <br>
                6. These Terms and Conditions are solely for your and our benefit and are not for the benefit of any
                other person or entity, except for Wiraraja Indonesia affiliates and subsidiaries (and each of Wiraraja
                Indonesia and its affiliates’ and subsidiaries’ respective successors and assigns).
                <br>
                7. The terms set forth in these Terms and Conditions and any agreements and policies included or
                referred to in these Terms and Conditions constitute the entire agreement and understanding of the
                parties with respect to the Services and the Site and supersede any previous agreement or understanding
                between the parties in relation to such subject matter. The parties also hereby exclude all implied
                terms in fact. In entering into the agreement formed by these Terms and Conditions, the parties have not
                relied on any statement, representation, warranty, understanding, undertaking, promise or assurance of
                any person other than as expressly set out in these Terms and Conditions. Each party irrevocably and
                unconditionally waives all claims, rights and remedies which but for this section it might otherwise
                have had in relation to any of the foregoing. These Terms and Conditions may not be contradicted,
                explained or supplemented by evidence of any prior agreement, any contemporaneous oral agreement or any
                consistent additional terms.
                <br>
                8. You agree to comply with all applicable laws, statutes, regulations and codes relating to your access
                and/or use of the Site and/or Services.
                <br>
                9. If you have any questions or concerns about these Terms and Conditions or any issues raised in these
                Terms and Conditions or on the Site, please Contact Us.
            </p>
        </div>
    </div>

    <section class="text-center cs-margin" style="height: 300px;background: radial-gradient(circle, #b6d7a8, #9fc49d);">
        <div class="container mt-5">
            <h2 class="cs-text fw-bold fs-1">Connect With Us</h2>
            <div class="row justify-content-center mt-4">
                <div class="col-md-6 d-flex justify-content-center gap-3">
                    <a href="#" class="social-icon instagram">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="#" class="social-icon linkedin">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="#" class="social-icon youtube">
                        <i class="bi bi-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="d-flex justify-content-center footer bg-dark text-white">
        <div class="container align-items-center mt-5">
            <div class="row">
                <div class="col-md-3 mx-auto py-2">
                    <div class="kirifoot">
                        <img src="{% static 'img/Wiraraja-Resources-Logo-OK.png' %}" alt="" height="60px"
                            class="d-inline-block align-text-top" />
                        <p class="navbartext1 fw-bold">A Member of Wiraraja Indonesia</p>
                    </div>
                    <div style="padding-top: 80px;">
                        <p>© Copyright 2025 All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-md-3 mx-auto pt-5">
                    <div class="mb-4 d-flex justify-content-center gap-4">
                        <a href="/" class="text-white text-decoration-none fw-bold">HOME</a>
                        <div class="dropdown">
                            <a class="text-white text-decoration-none fw-bold dropdown-toggle" href="/business"
                                role="button" id="businessDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                BUSINESS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="businessDropdown">
                                <li><a class="dropdown-item fw-bold" href="/manufacturing">MANUFACTURING</a></li>
                                <li><a class="dropdown-item fw-bold" href="/mining">MINING</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <a class="text-white text-decoration-none fw-bold dropdown-toggle" href="/company"
                                role="button" id="companyDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                COMPANY
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="companyDropdown">
                                <li><a class="dropdown-item fw-bold" href="/about">ABOUT US</a></li>
                                <li><a class="dropdown-item fw-bold" href="/news">NEWS</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <a class="text-white text-decoration-none fw-bold dropdown-toggle" href="/career"
                                role="button" id="careerDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                CAREER
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="careerDropdown">
                                <li><a class="dropdown-item fw-bold" href="/apply">APPLY JOBS</a></li>
                                <li><a class="dropdown-item fw-bold" href="/why">WHY WIRARAJA</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pt-3 d-flex justify-content-center gap-4">
                        <a href="#"
                            class="d-flex align-items-center justify-content-center text-white border border-dark rounded-circle social-logo"
                            style="width: 50px; height: 50px; background-color: #2c2c2c;">
                            <i class="bi bi-instagram fs-4"></i>
                        </a>
                        <a href="#"
                            class="d-flex align-items-center justify-content-center text-white border border-dark rounded-circle social-logo"
                            style="width: 50px; height: 50px; background-color: #2c2c2c;">
                            <i class="bi bi-linkedin fs-4"></i>
                        </a>
                        <a href="#"
                            class="d-flex align-items-center justify-content-center text-white border border-dark rounded-circle social-logo"
                            style="width: 50px; height: 50px; background-color: #2c2c2c;">
                            <i class="bi bi-youtube fs-4"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 mx-auto py-2">
                    <div class="d-flex justify-content-end" style="padding-top: 180px;">
                        <a href="/term" class="term-text fw-bold text-decoration-none">Terms And Conditions</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>